h1 {
    font-size: 2em;
    color: #2c3e50;
    margin-bottom: 0.5em;
  }
  
  h3 {
    font-size: 1.5em;
    color: #3498db;
    margin-bottom: 0.75em;
  }
  
  p {
    font-size: 1em;
    color: #7f8c8d;
    line-height: 1.5em;
  }
  